* 
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;

}
h1 a {
    font-size: 32px;
    color: #3a15dd;
    text-decoration: none;
}
img{
 max-width: 100%;
 width: auto;
}
.main-grid{ 
      color: #3a15dd;
      margin: 20px  ;
}
.nav a{
  display: block;
    font-style: normal;
    color: #3a15dd;
    transition: all 0.2s ease;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.nav a:hover{
    color: #ff7403;
}
.menu-nav {
  padding: 0 20px ;
  margin-bottom: 20px;
}
.menu-nav a{
  padding: 20px 0px ;
}
.big-grid {
    padding: 20px 0 ;
}

.grid {
    display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0 20px;
}
.home-projets{
  display: block;
}
.item-img{
 transition: all 0.2s ease;
 border-radius: 10px;

}

.h2 {
  font-size: 50px;
    color: #3a15dd;
    margin-bottom: 2px;
    margin-top: 0;
}
.grid-project-gallery{ 
   display: grid;
    grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

}

/* version tablette*/
@media (min-width: 480px) {
  .home-projets {
    padding: 0;
  }
  .menu-nav {
    padding: 0 ;
  }
  .big-grid {
    padding: 20px ;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0px;
  }
  .grid-project-gallery{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0px;

}

}
@media (min-width: 768px) {


}
/* version desktop*/
@media (min-width: 1024px) {


  .main-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5px;
      align-items: center;
      justify-content: center;

  }
  .big-grid {
    display: grid;
    grid-template-columns:1fr 3fr ;
    grid-column-gap: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .grid-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    margin: 20px  ;
  }
  .grid-project-gallery{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    .h2 {
      padding: 11px 0 25px 0;
    }
}










.subgrid{
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
}



.ligne {
  height: 0px;
  background: white;
  position: relative;
}

.ligne2 {
  background: white;
}

.ligne::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0%;
  background: #3a15dd;
  animation: growLine 2s ease-out forwards;
}

@keyframes growLine {
  from { width: 0%; }
  to   { width: 100%; }
}

.container {
    max-width: 1064px;
    width: 100%;
    margin: 40px auto;
  }





.grid3 {
display: grid;
grid-template-columns:200px;
 /*grid-template-rows: repeat(2,200px);*/
grid-auto-rows: 300px;
/*justify-items: center;
align-items: center; */
justify-content: center;
gap: 12px;
}



/*.item-img:hover{
  opacity: 0%;
}*/

.item-img2{
 border-radius: 10px;
}

.ligne-projet{
    position: relative;
}

.ligne-projet::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: #3a15dd;
  animation: growLine 2s ease-out forwards;
}

.subtitle{
  font-size: 40px;
  font-weight: normal;
  color: #3a15dd;
  margin-bottom: 2px;
  border-bottom: #3a15dd;
  border: 6px;

}




.p {
  font-size: 25px;
  line-height: 1,3;
  color: #000000;
  margin-bottom: 20px;
  justify-self: center;
  align-content: center;
}



.img_projet {
  width: 100%;
  border-radius: 20px;
  margin: 20px;
  gap: 10px;
  justify-content: center;
  align-content: center;

}

