*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;

}
h1 a {
    font-size: 32px;
    color: #3a15dd;
    text-decoration: none;
}
p {
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 20px;

}

img{
 max-width: 100%;
 width: 100%;
 object-fit: cover;
  height: 470px;
  border: 1px solid #3a14dd;
      border-radius: 10px;
}
.home img {
  transition: all 0.3s ease;
}
.home img:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
    z-index: 10;

}
.header h1 {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #3a15dd;

}
.header h1 br{
  display: none;
}
.header-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.header-btn svg {
    height: 50px;
    fill: #3a15dd;
}
.nav {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    position: fixed;
    top: 90px;
    right: 20px;
    left: 20px;
    background-color: #ffffff;
    border: 1px solid #3a15dd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
  }
.nav-collapse {
    visibility: visible;
    opacity: 1;
    top: 80px;
 
}
.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li ul {
    padding-left: 20px;
}
.nav a{
    display: block;
    font-style: normal;
    color: #3a15dd;
    transition: all 0.2s ease;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid;
}
.nav ul ul a{
    font-weight: normal;
}
.nav a:hover{
    color: #ff7403;
}
.menu-nav {
  padding: 0 20px ;
  margin-bottom: 20px;
}
.menu-nav a{
  padding: 20px 0px ;
}
.big-grid {
    padding: 80px 0 20px 0;
}

.grid {
    display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0 20px;
}
.home-projets{
  display: block;
}
.item-img{
 transition: all 0.2s ease;
 border-radius: 10px;

}
.titre-projet{
      height: 100%;
    align-items: center;
    display: flex;
    padding: 40px;
    background: #3a15dd;
}
.titre-projet h2{
    color: #ffffff;
    margin: 0;
}
.h2 {
  font-size: 50px;
    color: #3a15dd;
    margin-bottom: 2px;
    margin-top: 0;
}
.grid-project-gallery{ 
   display: grid;
    grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

}

/* version tablette*/
@media (min-width: 480px) {
  .home-projets {
    padding: 0;
  }
  .menu-nav {
    padding: 0 ;
  }
  .big-grid {
    padding: 80px 20px ;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0px;
  }
  .grid-project-gallery{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0px;

}

}
@media (min-width: 768px) {


}
/* version desktop*/
@media (min-width: 1024px) {

  header {
         border-bottom: 1px solid #3a15dd;
         padding: 0 20px;
  }
  .header{
      max-width: 1398px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 20px;
      align-items: center;
 
  }
  .header h1 {
      padding: 10px 0;
      border-bottom: none;
  }
      
  .header-btn {
      display: none;
  }
  .nav {
      opacity: 1;
          visibility: visible;
          position: initial;
          border: none;
          box-shadow: none;
          padding: 0;
          border-radius: 0;
          display: flex;


  }
          
  .nav > ul {
    width: 100%;
      display: flex;
      justify-content: flex-end;
      
  }
  .nav ul li {
      position: relative;
  }
  .nav ul ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #3a15dd;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    transition: all 0.3s ease;
    right: -115px;
    top: 50px;
    min-width: 360px;
  }
.nav a {
    padding: 10px 20px;
    border-bottom: none;
}
.nav > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
}
  .big-grid {
    display: grid;
    grid-template-columns:3fr ;
    grid-column-gap: 20px;
    max-width: 1398px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .grid-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    margin: 20px 0  ;
  }
  .grid-project-gallery{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    .h2 {
      padding: 11px 0 25px 0;
    }
}














.ligne {
  height: 0px;
  background: white;
  position: relative;
}

.ligne2 {
  background: white;
}

.ligne::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0%;
  background: #3a15dd;
  animation: growLine 2s ease-out forwards;
}

@keyframes growLine {
  from { width: 0%; }
  to   { width: 100%; }
}

.container {
    max-width: 1064px;
    width: 100%;
    margin: 40px auto;
  }





.grid3 {
display: grid;
grid-template-columns:200px;
 /*grid-template-rows: repeat(2,200px);*/
grid-auto-rows: 300px;
/*justify-items: center;
align-items: center; */
justify-content: center;
gap: 12px;
}



/*.item-img:hover{
  opacity: 0%;
}*/

.item-img2{
 border-radius: 10px;
}

.ligne-projet{
    position: relative;
}

.ligne-projet::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: #3a15dd;
  animation: growLine 2s ease-out forwards;
}

.subtitle{
  font-size: 40px;
  font-weight: normal;
  color: #3a15dd;
  margin-bottom: 2px;
  border-bottom: #3a15dd;
  border: 6px;

}







.img_projet {
  width: 100%;
  border-radius: 20px;
  margin: 20px;
  gap: 10px;
  justify-content: center;
  align-content: center;

}

